.diagram {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
        // height: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;

        .cell {
            height: 30px;
            width: 30px;
            border: 1px solid #ddd;
            background-color: white;
            position: relative;

            &.active {
                background-color: blue;
                color: white;
            }
        }

    }
}